# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
packages/*/node_modules/

# Compiled TypeScript files
dist/
out/
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# IDE-specific files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor-specific
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.env*
