{
  "importOrder": [
    "^(.*)/api/(.*)$",
    "^(.*)/services/(.*)$",
    "^(.*)/entities/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true
}
